### Connect to Postgres and import data

In [3]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from config import db_password

In [9]:
# connect to postgres database
# Format:
# connection_string = f'postgres://{user_name}:{db_password}@localhost:{port_number}/{db_name}'

host = 'myersbriggsmlproject.ccmw3j2tpjax.us-east-2.rds.amazonaws.com'
connection_string = f'postgres://myberbriggs:{db_password}@{host}:5432/postgres'

engine = create_engine(connection_string)

In [13]:
# Read in the table to pandas dataframe
raw_df = pd.read_sql_table('myersbriggs', con=engine, index_col=0)
raw_df.head()

  mb_type                                              posts
0    INFJ  'http://www.youtube.com/watch?v=qsXHcwe3krw|||...
1    ENTP  'I'm finding the lack of me in these posts ver...
2    INTP  'Good one  _____   https://www.youtube.com/wat...
3    INTJ  'Dear INTP,   I enjoyed our conversation the o...
4    ENTJ  'You're fired.|||That's another silly misconce...

In [14]:
# adjust column names
raw_df.columns = ['type','posts']
raw_df.head()

   type                                              posts
0  INFJ  'http://www.youtube.com/watch?v=qsXHcwe3krw|||...
1  ENTP  'I'm finding the lack of me in these posts ver...
2  INTP  'Good one  _____   https://www.youtube.com/wat...
3  INTJ  'Dear INTP,   I enjoyed our conversation the o...
4  ENTJ  'You're fired.|||That's another silly misconce...

In [2]:
# import the cleaned df
# raw_df = pd.read_csv('../../Resources/data/mbti.csv')
# raw_df.head()

   type                                              posts
0  INFJ  'http://www.youtube.com/watch?v=qsXHcwe3krw|||...
1  ENTP  'I'm finding the lack of me in these posts ver...
2  INTP  'Good one  _____   https://www.youtube.com/wat...
3  INTJ  'Dear INTP,   I enjoyed our conversation the o...
4  ENTJ  'You're fired.|||That's another silly misconce...

### EDA

In [20]:
# Count the type distribution
raw_df['type'].value_counts()

INFP    1832
INFJ    1470
INTP    1304
INTJ    1091
ENTP     685
ENFP     675
ISTP     337
ISFP     271
ENTJ     231
ISTJ     205
ENFJ     190
ISFJ     166
ESTP      89
ESFP      48
ESFJ      42
ESTJ      39
Name: type, dtype: int64

In [3]:
# count the http
raw_df['http_count']=raw_df['posts'].apply(lambda x: x.count('http'))
raw_df.head()

   type                                              posts  http_count
0  INFJ  'http://www.youtube.com/watch?v=qsXHcwe3krw|||...          24
1  ENTP  'I'm finding the lack of me in these posts ver...          10
2  INTP  'Good one  _____   https://www.youtube.com/wat...           5
3  INTJ  'Dear INTP,   I enjoyed our conversation the o...           2
4  ENTJ  'You're fired.|||That's another silly misconce...           6

In [4]:
# create a column without http sting
p = "(http.*?\s)"
raw_df['no_url']=raw_df['posts'].replace(p," ",regex=True)
raw_df.head()

,type,posts,http_count,no_url
0,INFJ,'http://www.youtube.com/watch?v=qsXHcwe3krw|||...,24,' and intj moments sportscenter not top ten...
1,ENTP,'I'm finding the lack of me in these posts ver...,10,'I'm finding the lack of me in these posts ver...
2,INTP,'Good one _____ https://www.youtube.com/wat...,5,"'Good one _____ course, to which I say I k..."
3,INTJ,"'Dear INTP, I enjoyed our conversation the o...",2,"'Dear INTP, I enjoyed our conversation the o..."
4,ENTJ,'You're fired.|||That's another silly misconce...,6,'You're fired.|||That's another silly misconce...

In [5]:
# create a column without ||| sting
p = "(\|\|\|)"
raw_df['text']=raw_df['no_url'].replace(p," ",regex=True)
raw_df.head()

,type,posts,http_count,no_url,text
0,INFJ,'http://www.youtube.com/watch?v=qsXHcwe3krw|||...,24,' and intj moments sportscenter not top ten...,' and intj moments sportscenter not top ten...
1,ENTP,'I'm finding the lack of me in these posts ver...,10,'I'm finding the lack of me in these posts ver...,'I'm finding the lack of me in these posts ver...
2,INTP,'Good one _____ https://www.youtube.com/wat...,5,"'Good one _____ course, to which I say I k...","'Good one _____ course, to which I say I k..."
3,INTJ,"'Dear INTP, I enjoyed our conversation the o...",2,"'Dear INTP, I enjoyed our conversation the o...","'Dear INTP, I enjoyed our conversation the o..."
4,ENTJ,'You're fired.|||That's another silly misconce...,6,'You're fired.|||That's another silly misconce...,'You're fired. That's another silly misconcept...

In [6]:
# export df to csv
raw_df.to_csv('../../Resources/data/cleaned_mbti.csv')